#map {
  height: 60vh;
  width: calc(100% - 200px);
  /*width: 90%;*/
}

#reportInput {
  width: 60vh;
  height: 10vh;
}

.logoutPlaceholder>* {
  display: inline-block;
}

#new_call {
  margin-right: 20px;
}

div.horizontal {
  margin-bottom: 50px;

}

body form button {
  margin-top: 20px;
}

.border {
  border-style: solid;
}

.sidebarElementPadding {
  padding-left: 5px;
  height: 10px;
}

.content {
  display: none;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.gotoMarker {
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 20%;
  height: 20;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.button {
  padding-top: 0px;
  cursor: pointer;
  border: none;
  outline: none;
}